openapi: 3.0.3
info:
  title: OpenRouteService API
  description: >-
    OpenRouteService is a free, open-source geospatial API platform built on OpenStreetMap data.
    It provides routing directions for multiple transport modes, isochrones for reachability
    analysis, time-distance matrices, geocoding, elevation data, points of interest, and
    vehicle route optimization for logistics and humanitarian use cases.
  version: v2
  contact:
    name: OpenRouteService Support
    url: https://ask.openrouteservice.org
    email: support@smartmobility.heigit.org
  license:
    name: GNU General Public License v3.0
    url: https://github.com/GIScience/openrouteservice/blob/main/LICENSE
  x-ors-docs: https://giscience.github.io/openrouteservice/
servers:
  - url: https://api.openrouteservice.org
    description: OpenRouteService Public API
security:
  - ApiKeyAuth: []
tags:
  - name: Directions
    description: Get routing directions for different modes of transport
  - name: Isochrones
    description: Obtain areas of reachability from given locations
  - name: Matrix
    description: Obtain one-to-many, many-to-one and many-to-many matrices for time and distance
  - name: Geocoding
    description: Resolve addresses to coordinates and vice versa using Pelias engine
  - name: Elevation
    description: Return elevation data for point or line geometries
  - name: Optimization
    description: Solve vehicle routing problems using the VROOM engine
  - name: POI
    description: Return points of interest using OpenStreetMap data
  - name: Snapping
    description: Snap coordinates to the nearest road network nodes
  - name: Health
    description: Service health and status endpoints
paths:
  /v2/directions/{profile}:
    get:
      tags:
        - Directions
      summary: Get basic route (GET)
      description: >-
        Get a basic route between two points with the profile provided. Returned response
        is in GeoJSON format. Accepts start and end coordinates as query parameters.
      operationId: getDirectionsGet
      parameters:
        - $ref: '#/components/parameters/profile'
        - name: start
          in: query
          description: Start coordinate of the route as longitude,latitude
          required: true
          schema:
            type: string
            example: '8.681495,49.41461'
        - name: end
          in: query
          description: Destination coordinate of the route as longitude,latitude
          required: true
          schema:
            type: string
            example: '8.687872,49.420318'
      responses:
        '200':
          description: Successfully computed route in GeoJSON format
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/GeoJSONRouteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Directions
      summary: Get directions (POST JSON)
      description: >-
        Returns a route between two or more locations for a selected profile and its settings
        as JSON. The response contains the route geometry and additional information like
        distance, duration, and turn-by-turn instructions.
      operationId: getDirectionsPost
      parameters:
        - $ref: '#/components/parameters/profile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectionsRequest'
      responses:
        '200':
          description: Successfully computed route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRouteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/directions/{profile}/geojson:
    post:
      tags:
        - Directions
      summary: Get directions as GeoJSON (POST)
      description: >-
        Returns a route between two or more locations for a selected profile and its settings
        as GeoJSON. The response is a FeatureCollection with route geometry.
      operationId: getDirectionsGeoJson
      parameters:
        - $ref: '#/components/parameters/profile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectionsRequest'
      responses:
        '200':
          description: Successfully computed route in GeoJSON format
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/GeoJSONRouteResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/directions/{profile}/gpx:
    post:
      tags:
        - Directions
      summary: Get directions as GPX (POST)
      description: >-
        Returns a route between two or more locations for a selected profile and its settings
        as GPX format for GPS device compatibility.
      operationId: getDirectionsGpx
      parameters:
        - $ref: '#/components/parameters/profile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectionsRequest'
      responses:
        '200':
          description: Successfully computed route in GPX format
          content:
            application/gpx+xml:
              schema:
                type: string
                format: xml
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/isochrones/{profile}:
    post:
      tags:
        - Isochrones
      summary: Isochrones Service
      description: >-
        The Isochrone Service supports time and distance analyses for one single or multiple
        locations. You may also specify the travel mode and a maximum range value. This service
        responses with polygon or point geometries, depending on your request.
      operationId: getIsochrones
      parameters:
        - $ref: '#/components/parameters/profile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IsochronesRequest'
      responses:
        '200':
          description: Successfully computed isochrones
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/GeoJSONIsochronesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/matrix/{profile}:
    post:
      tags:
        - Matrix
      summary: Matrix Service
      description: >-
        Computes one-to-many, many-to-one or many-to-many time/distance matrices for all
        pairs of the supplied coordinates. The maximum number of locations depends on the
        subscription plan (up to 3,500 for standard).
      operationId: getMatrix
      parameters:
        - $ref: '#/components/parameters/profile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatrixRequest'
      responses:
        '200':
          description: Successfully computed matrix
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONMatrixResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /geocode/search:
    get:
      tags:
        - Geocoding
      summary: Forward Geocoding
      description: >-
        Resolves a text address query to geographic coordinates using the Pelias geocoding
        engine. Returns matching locations ordered by relevance.
      operationId: geocodeSearch
      parameters:
        - name: text
          in: query
          description: The address or place name to search for
          required: true
          schema:
            type: string
            example: 'Heidelberg, Germany'
        - name: boundary.country
          in: query
          description: Restrict results to a specific country using ISO 3166-1 alpha-2 or alpha-3 code
          required: false
          schema:
            type: string
            example: 'DE'
        - name: boundary.rect.min_lon
          in: query
          description: Minimum longitude for bounding box restriction
          required: false
          schema:
            type: number
            format: double
        - name: boundary.rect.min_lat
          in: query
          description: Minimum latitude for bounding box restriction
          required: false
          schema:
            type: number
            format: double
        - name: boundary.rect.max_lon
          in: query
          description: Maximum longitude for bounding box restriction
          required: false
          schema:
            type: number
            format: double
        - name: boundary.rect.max_lat
          in: query
          description: Maximum latitude for bounding box restriction
          required: false
          schema:
            type: number
            format: double
        - name: boundary.circle.lon
          in: query
          description: Longitude of circle center for circular boundary restriction
          required: false
          schema:
            type: number
            format: double
        - name: boundary.circle.lat
          in: query
          description: Latitude of circle center for circular boundary restriction
          required: false
          schema:
            type: number
            format: double
        - name: boundary.circle.radius
          in: query
          description: Radius in kilometers for circular boundary restriction
          required: false
          schema:
            type: number
            format: double
        - name: focus.point.lon
          in: query
          description: Longitude of focus point to bias nearby results higher
          required: false
          schema:
            type: number
            format: double
        - name: focus.point.lat
          in: query
          description: Latitude of focus point to bias nearby results higher
          required: false
          schema:
            type: number
            format: double
        - name: size
          in: query
          description: Number of results to return (max 40)
          required: false
          schema:
            type: integer
            default: 10
            maximum: 40
        - name: layers
          in: query
          description: Filter by Pelias layer types (venue, address, street, neighbourhood, etc.)
          required: false
          schema:
            type: string
        - name: sources
          in: query
          description: Filter by data sources (openstreetmap, openaddresses, whosonfirst, geonames)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Geocoding results as GeoJSON FeatureCollection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /geocode/reverse:
    get:
      tags:
        - Geocoding
      summary: Reverse Geocoding
      description: >-
        Resolves geographic coordinates to a human-readable address using the Pelias engine.
        Returns the nearest address or place for the given coordinates.
      operationId: geocodeReverse
      parameters:
        - name: point.lon
          in: query
          description: Longitude of the point to reverse geocode
          required: true
          schema:
            type: number
            format: double
            example: 8.681495
        - name: point.lat
          in: query
          description: Latitude of the point to reverse geocode
          required: true
          schema:
            type: number
            format: double
            example: 49.41461
        - name: boundary.circle.radius
          in: query
          description: Radius in kilometers to search around the point
          required: false
          schema:
            type: number
            format: double
            default: 1
        - name: size
          in: query
          description: Number of results to return
          required: false
          schema:
            type: integer
            default: 1
            maximum: 40
        - name: layers
          in: query
          description: Filter by Pelias layer types
          required: false
          schema:
            type: string
        - name: sources
          in: query
          description: Filter by data sources
          required: false
          schema:
            type: string
        - name: boundary.country
          in: query
          description: Restrict results to a specific country
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Reverse geocoding results as GeoJSON FeatureCollection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /geocode/autocomplete:
    get:
      tags:
        - Geocoding
      summary: Geocoding Autocomplete
      description: >-
        Returns address suggestions as the user types, optimized for low-latency typeahead
        searches. Uses Pelias autocomplete for partial address matching.
      operationId: geocodeAutocomplete
      parameters:
        - name: text
          in: query
          description: Partial address text for autocomplete suggestions
          required: true
          schema:
            type: string
            example: 'Heidel'
        - name: focus.point.lon
          in: query
          description: Longitude of focus point to bias nearby results higher
          required: false
          schema:
            type: number
            format: double
        - name: focus.point.lat
          in: query
          description: Latitude of focus point to bias nearby results higher
          required: false
          schema:
            type: number
            format: double
        - name: boundary.country
          in: query
          description: Restrict results to a specific country
          required: false
          schema:
            type: string
        - name: layers
          in: query
          description: Filter by Pelias layer types
          required: false
          schema:
            type: string
        - name: sources
          in: query
          description: Filter by data sources
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: Number of results to return (max 40)
          required: false
          schema:
            type: integer
            default: 10
            maximum: 40
      responses:
        '200':
          description: Autocomplete suggestions as GeoJSON FeatureCollection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /elevation/point:
    get:
      tags:
        - Elevation
      summary: Get elevation for a point
      description: >-
        Returns the elevation value for a single geographic point using SRTM elevation data.
      operationId: getElevationPoint
      parameters:
        - name: geometry
          in: query
          description: Coordinate as longitude,latitude
          required: true
          schema:
            type: string
            example: '8.681495,49.41461'
        - name: format_in
          in: query
          description: Input geometry format (point)
          required: false
          schema:
            type: string
            enum:
              - point
            default: point
        - name: format_out
          in: query
          description: Output format (point or geojson)
          required: false
          schema:
            type: string
            enum:
              - point
              - geojson
            default: geojson
        - name: dataset
          in: query
          description: Elevation dataset to use
          required: false
          schema:
            type: string
            enum:
              - srtm
            default: srtm
      responses:
        '200':
          description: Elevation data for the point
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElevationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Elevation
      summary: Get elevation for a point (POST)
      description: >-
        Returns the elevation value for a single geographic point using SRTM elevation data.
        POST variant for larger payloads.
      operationId: postElevationPoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElevationPointRequest'
      responses:
        '200':
          description: Elevation data for the point
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElevationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /elevation/line:
    post:
      tags:
        - Elevation
      summary: Get elevation for a line geometry
      description: >-
        Returns elevation values for a series of points along a line geometry using SRTM data.
        Supports up to 2,000 vertices per request.
      operationId: getElevationLine
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElevationLineRequest'
      responses:
        '200':
          description: Elevation data for the line geometry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ElevationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /optimization:
    post:
      tags:
        - Optimization
      summary: Vehicle Route Optimization
      description: >-
        Solves vehicle routing problems using the VROOM optimization engine. Supports time
        windows, capacity constraints, multi-depot scenarios, and mixed fleet routing for
        logistics planning with up to 3 vehicles and 50 jobs in the standard plan.
      operationId: getOptimization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptimizationRequest'
      responses:
        '200':
          description: Optimized route solution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptimizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /pois:
    post:
      tags:
        - POI
      summary: Points of Interest
      description: >-
        Returns points of interest in the area surrounding a given geometry. Supports search
        within a 2 km radius for areas up to 50 km2, filtered by category and keyword using
        OpenStreetMap POI data.
      operationId: getPOIs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POIRequest'
      responses:
        '200':
          description: Points of interest as GeoJSON FeatureCollection
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/POIResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/snap/{profile}:
    post:
      tags:
        - Snapping
      summary: Snap Coordinates to Road Network
      description: >-
        Snaps arbitrary coordinates to the nearest road network nodes. Supports up to 5,000
        locations per request, useful for map matching and correcting GPS coordinates to the
        road network.
      operationId: snapCoordinates
      parameters:
        - $ref: '#/components/parameters/profile'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnappingRequest'
      responses:
        '200':
          description: Snapped coordinates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnappingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v2/health:
    get:
      tags:
        - Health
      summary: Health Check
      description: Returns the health status of the OpenRouteService API
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service unavailable
  /v2/status:
    get:
      tags:
        - Health
      summary: Status Check
      description: Returns the current status and configuration of the OpenRouteService API including loaded profiles
      operationId: getStatus
      security: []
      responses:
        '200':
          description: Service status information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '503':
          description: Service unavailable
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key obtained from https://openrouteservice.org
  parameters:
    profile:
      name: profile
      in: path
      description: Specifies the transport mode profile for routing
      required: true
      schema:
        type: string
        enum:
          - driving-car
          - driving-hgv
          - cycling-regular
          - cycling-road
          - cycling-mountain
          - cycling-electric
          - foot-walking
          - foot-hiking
          - wheelchair
        example: driving-car
  responses:
    BadRequest:
      description: Bad request - invalid parameters or request body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden - API key does not have permission for this operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not found - route or resource could not be found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    DirectionsRequest:
      type: object
      required:
        - coordinates
      properties:
        coordinates:
          type: array
          description: >-
            The waypoints to use for the route as an array of [longitude, latitude] pairs.
            Minimum 2, maximum 50 waypoints.
          minItems: 2
          maxItems: 50
          items:
            type: array
            items:
              type: number
              format: double
            minItems: 2
            maxItems: 2
          example:
            - [8.681495, 49.41461]
            - [8.686507, 49.41943]
            - [8.687872, 49.420318]
        profile:
          type: string
          description: Override the profile for this request (alternative to path parameter)
          enum:
            - driving-car
            - driving-hgv
            - cycling-regular
            - cycling-road
            - cycling-mountain
            - cycling-electric
            - foot-walking
            - foot-hiking
            - wheelchair
        preference:
          type: string
          description: Specifies the routing preference
          enum:
            - fastest
            - shortest
            - recommended
          default: recommended
        units:
          type: string
          description: Units for distances
          enum:
            - m
            - km
            - mi
          default: m
        language:
          type: string
          description: Language for turn-by-turn instructions (IETF BCP 47 language tag)
          example: en
          default: en
        geometry:
          type: boolean
          description: Return route geometry
          default: true
        geometry_simplify:
          type: boolean
          description: Simplify the geometry for smaller response size
          default: false
        instructions:
          type: boolean
          description: Return turn-by-turn instructions
          default: true
        instructions_format:
          type: string
          description: Format for turn-by-turn instructions
          enum:
            - html
            - text
          default: text
        roundabout_exits:
          type: boolean
          description: Include roundabout exit information in instructions
          default: false
        attributes:
          type: array
          description: Additional route attributes to include in the response
          items:
            type: string
            enum:
              - avgspeed
              - detourfactor
              - percentage
        extra_info:
          type: array
          description: Extra information to include for route segments
          items:
            type: string
            enum:
              - steepness
              - suitability
              - surface
              - waycategory
              - waytype
              - tollways
              - traildifficulty
              - osmid
              - roadaccessrestrictions
              - countryinfo
              - green
              - noise
        elevation:
          type: boolean
          description: Include elevation values for route points
          default: false
        continue_straight:
          type: boolean
          description: Force straight routes at waypoints, restricting u-turns
        avoid_features:
          type: array
          description: Features to avoid during routing
          items:
            type: string
            enum:
              - highways
              - tollways
              - ferries
              - fords
              - steps
        avoid_borders:
          type: string
          description: Border crossing restriction
          enum:
            - all
            - controlled
            - none
        avoid_countries:
          type: array
          description: List of ISO 3166-1 alpha-3 country codes to avoid
          items:
            type: string
        avoid_polygons:
          description: GeoJSON Polygon or MultiPolygon geometry to avoid
          type: object
        maximum_speed:
          type: number
          description: Maximum speed for the route in km/h (HGV profiles only)
          format: double
        alternative_routes:
          type: object
          description: Configuration for alternative route computation
          properties:
            target_count:
              type: integer
              description: Number of alternative routes to compute (max 3)
              maximum: 3
            weight_factor:
              type: number
              description: Factor by which alternative routes can be longer than the optimal route
              format: double
            share_factor:
              type: number
              description: Minimum share factor for alternative route similarity
              format: double
    RouteOptions:
      type: object
      properties:
        avoid_borders:
          type: string
          enum:
            - all
            - controlled
            - none
        avoid_countries:
          type: array
          items:
            type: string
        avoid_features:
          type: array
          items:
            type: string
            enum:
              - highways
              - tollways
              - ferries
              - fords
              - steps
        avoid_polygons:
          type: object
          description: GeoJSON Polygon or MultiPolygon to avoid
        profile_params:
          type: object
          description: Profile-specific parameters
          properties:
            weightings:
              type: object
              properties:
                green:
                  type: number
                  description: Weight for green route preference (0-1)
                  format: double
                quiet:
                  type: number
                  description: Weight for quiet route preference (0-1)
                  format: double
                steepness_difficulty:
                  type: integer
                  description: Maximum steepness difficulty level (1-3)
            restrictions:
              type: object
              properties:
                length:
                  type: number
                  description: Maximum vehicle length in meters
                  format: double
                width:
                  type: number
                  description: Maximum vehicle width in meters
                  format: double
                height:
                  type: number
                  description: Maximum vehicle height in meters
                  format: double
                axleload:
                  type: number
                  description: Maximum axle load in tons
                  format: double
                weight:
                  type: number
                  description: Maximum vehicle weight in tons
                  format: double
                hazmat:
                  type: boolean
                  description: Whether vehicle carries hazardous materials
                maximum_incline:
                  type: integer
                  description: Maximum road incline percentage
                maximum_slope:
                  type: integer
                  description: Maximum road slope percentage
    JSONRouteResponse:
      type: object
      properties:
        routes:
          type: array
          items:
            $ref: '#/components/schemas/JSONIndividualRouteResponse'
        metadata:
          $ref: '#/components/schemas/RouteResponseInfo'
        bbox:
          type: array
          items:
            type: number
          description: Bounding box of the route [minLon, minLat, maxLon, maxLat]
    JSONIndividualRouteResponse:
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/JSONSummary'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/JSONSegment'
        bbox:
          type: array
          items:
            type: number
        geometry:
          type: string
          description: Encoded polyline geometry (when format is not geojson)
        way_points:
          type: array
          items:
            type: integer
          description: Indices of waypoints in the geometry
        extras:
          type: object
          description: Extra information keyed by type
          additionalProperties:
            $ref: '#/components/schemas/JSONExtra'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/JSONWarning'
    JSONSummary:
      type: object
      properties:
        distance:
          type: number
          format: double
          description: Total route distance in meters
        duration:
          type: number
          format: double
          description: Total route duration in seconds
        ascent:
          type: number
          format: double
          description: Total ascent in meters
        descent:
          type: number
          format: double
          description: Total descent in meters
    JSONSegment:
      type: object
      properties:
        distance:
          type: number
          format: double
          description: Segment distance in meters
        duration:
          type: number
          format: double
          description: Segment duration in seconds
        steps:
          type: array
          items:
            $ref: '#/components/schemas/JSONStep'
        ascent:
          type: number
          format: double
        descent:
          type: number
          format: double
        avgspeed:
          type: number
          format: double
          description: Average speed in km/h
        detourfactor:
          type: number
          format: double
        percentage:
          type: number
          format: double
    JSONStep:
      type: object
      properties:
        instruction:
          type: string
          description: Turn-by-turn instruction text
        name:
          type: string
          description: Road name for this step
        distance:
          type: number
          format: double
          description: Step distance in meters
        duration:
          type: number
          format: double
          description: Step duration in seconds
        type:
          type: integer
          description: Instruction type code
        exit_number:
          type: integer
          description: Roundabout exit number
        exit_bearings:
          type: array
          items:
            type: integer
        way_points:
          type: array
          items:
            type: integer
          description: Indices in geometry for this step
        maneuver:
          $ref: '#/components/schemas/JSONStepManeuver'
    JSONStepManeuver:
      type: object
      properties:
        location:
          type: array
          items:
            type: number
          description: Coordinate [longitude, latitude] of the maneuver
        bearing_before:
          type: integer
          description: Bearing before the maneuver (0-359)
        bearing_after:
          type: integer
          description: Bearing after the maneuver (0-359)
    JSONExtra:
      type: object
      properties:
        values:
          type: array
          items:
            type: array
            items:
              type: number
          description: Extra info values as [start, end, value] tuples
        summary:
          type: array
          items:
            $ref: '#/components/schemas/JSONExtraSummary'
    JSONExtraSummary:
      type: object
      properties:
        value:
          type: number
          description: The extra info value
        distance:
          type: number
          format: double
          description: Distance with this value in meters
        amount:
          type: number
          format: double
          description: Percentage of route with this value
    JSONWarning:
      type: object
      properties:
        code:
          type: integer
          description: Warning code
        message:
          type: string
          description: Warning message
    GeoJSONRouteResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - FeatureCollection
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - Feature
              geometry:
                type: object
              properties:
                type: object
        bbox:
          type: array
          items:
            type: number
        metadata:
          $ref: '#/components/schemas/RouteResponseInfo'
    RouteResponseInfo:
      type: object
      properties:
        attribution:
          type: string
          description: Data attribution text
        service:
          type: string
          description: Service name
        timestamp:
          type: integer
          format: int64
          description: Request timestamp in milliseconds
        id:
          type: string
          description: Request identifier
        engine:
          $ref: '#/components/schemas/EngineInfo'
        query:
          type: object
          description: Echo of the request parameters
        osm_file_md5_hash:
          type: string
          description: MD5 hash of the OSM data file used
    EngineInfo:
      type: object
      properties:
        version:
          type: string
          description: ORS engine version
        build_date:
          type: string
          format: date-time
          description: Build date of the ORS engine
    IsochronesRequest:
      type: object
      required:
        - locations
        - range
      properties:
        locations:
          type: array
          description: >-
            Array of center coordinates for isochrone computation as [longitude, latitude] pairs.
            Maximum 5 locations per request.
          maxItems: 5
          items:
            type: array
            items:
              type: number
              format: double
            minItems: 2
            maxItems: 2
          example:
            - [8.681495, 49.41461]
        range:
          type: array
          description: >-
            Array of maximum travel range values. For time-based isochrones in seconds,
            for distance-based in meters. Maximum 10 values.
          maxItems: 10
          items:
            type: number
            format: double
          example:
            - 300
            - 600
        range_type:
          type: string
          description: The type of range to compute isochrones for
          enum:
            - time
            - distance
          default: time
        interval:
          type: number
          description: >-
            Interval for isochrone polygon rings. Creates concentric polygons at each
            interval within the maximum range.
          format: double
        units:
          type: string
          description: Units for range values when range_type is distance
          enum:
            - m
            - km
            - mi
          default: m
        area_units:
          type: string
          description: Units for area computation in the response
          enum:
            - m
            - km
            - mi
          default: m
        attributes:
          type: array
          description: Additional attributes to include in the response
          items:
            type: string
            enum:
              - area
              - reachfactor
              - total_pop
        intersections:
          type: boolean
          description: Compute intersections between isochrones
          default: false
        smoothing:
          type: number
          description: Smoothing factor for isochrone polygons (0-1)
          format: double
          minimum: 0
          maximum: 1
        avoid_features:
          type: array
          items:
            type: string
            enum:
              - highways
              - tollways
              - ferries
              - fords
        avoid_borders:
          type: string
          enum:
            - all
            - controlled
            - none
        avoid_polygons:
          type: object
          description: GeoJSON Polygon or MultiPolygon to avoid
        id:
          type: string
          description: Arbitrary identifier for tracking requests
    GeoJSONIsochronesResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - FeatureCollection
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - Feature
              geometry:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - Polygon
                  coordinates:
                    type: array
                    items:
                      type: array
                      items:
                        type: array
                        items:
                          type: number
              properties:
                type: object
                properties:
                  group_index:
                    type: integer
                  value:
                    type: number
                  center:
                    type: array
                    items:
                      type: number
                  area:
                    type: number
                  reachfactor:
                    type: number
                  total_pop:
                    type: integer
        bbox:
          type: array
          items:
            type: number
        metadata:
          type: object
    MatrixRequest:
      type: object
      required:
        - locations
      properties:
        locations:
          type: array
          description: >-
            Array of coordinates as [longitude, latitude] pairs for matrix computation.
            Used as both sources and destinations unless specified separately.
          items:
            type: array
            items:
              type: number
              format: double
            minItems: 2
            maxItems: 2
          example:
            - [8.681495, 49.41461]
            - [8.686507, 49.41943]
            - [8.687872, 49.420318]
        sources:
          type: array
          description: Indices into locations array to use as sources (origins)
          items:
            type: integer
        destinations:
          type: array
          description: Indices into locations array to use as destinations
          items:
            type: integer
        metrics:
          type: array
          description: Metrics to compute for the matrix
          items:
            type: string
            enum:
              - duration
              - distance
          default:
            - duration
        resolve_locations:
          type: boolean
          description: Return nearest road network location for each coordinate
          default: false
        units:
          type: string
          description: Distance units (only applicable when distance metric requested)
          enum:
            - m
            - km
            - mi
          default: m
        id:
          type: string
          description: Arbitrary identifier for tracking requests
    JSONMatrixResponse:
      type: object
      properties:
        durations:
          type: array
          description: 2D array of travel durations in seconds
          items:
            type: array
            items:
              type: number
              format: double
        distances:
          type: array
          description: 2D array of travel distances in meters
          items:
            type: array
            items:
              type: number
              format: double
        sources:
          type: array
          items:
            $ref: '#/components/schemas/MatrixLocation'
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/MatrixLocation'
        metadata:
          $ref: '#/components/schemas/MatrixResponseInfo'
    MatrixLocation:
      type: object
      properties:
        location:
          type: array
          items:
            type: number
          description: Snapped coordinate [longitude, latitude]
        name:
          type: string
          description: Name of nearest road
        snapped_distance:
          type: number
          format: double
          description: Distance from original to snapped location in meters
    MatrixResponseInfo:
      type: object
      properties:
        attribution:
          type: string
        service:
          type: string
        timestamp:
          type: integer
          format: int64
        id:
          type: string
        engine:
          $ref: '#/components/schemas/EngineInfo'
        query:
          type: object
        osm_file_md5_hash:
          type: string
    GeocodeResponse:
      type: object
      properties:
        geocoding:
          type: object
          properties:
            version:
              type: string
            attribution:
              type: string
            query:
              type: object
            engine:
              type: object
              properties:
                name:
                  type: string
                author:
                  type: string
                version:
                  type: string
            timestamp:
              type: string
              format: date-time
        type:
          type: string
          enum:
            - FeatureCollection
        features:
          type: array
          items:
            $ref: '#/components/schemas/GeocodeFeature'
        bbox:
          type: array
          items:
            type: number
    GeocodeFeature:
      type: object
      properties:
        type:
          type: string
          enum:
            - Feature
        geometry:
          type: object
          properties:
            type:
              type: string
              enum:
                - Point
            coordinates:
              type: array
              items:
                type: number
              minItems: 2
              maxItems: 2
        properties:
          type: object
          properties:
            id:
              type: string
            gid:
              type: string
            layer:
              type: string
              description: Pelias layer (venue, address, street, neighbourhood, etc.)
            source:
              type: string
              description: Data source (openstreetmap, openaddresses, etc.)
            source_id:
              type: string
            name:
              type: string
            confidence:
              type: number
              format: double
            match_type:
              type: string
            accuracy:
              type: string
            country:
              type: string
            country_gid:
              type: string
            country_a:
              type: string
            region:
              type: string
            region_gid:
              type: string
            locality:
              type: string
            locality_gid:
              type: string
            postalcode:
              type: string
            label:
              type: string
              description: Full formatted address label
    ElevationPointRequest:
      type: object
      required:
        - geometry
      properties:
        format_in:
          type: string
          enum:
            - point
          default: point
        format_out:
          type: string
          enum:
            - point
            - geojson
          default: geojson
        dataset:
          type: string
          enum:
            - srtm
          default: srtm
        geometry:
          type: array
          description: Coordinate as [longitude, latitude]
          items:
            type: number
          minItems: 2
          maxItems: 2
          example:
            - 8.681495
            - 49.41461
    ElevationLineRequest:
      type: object
      required:
        - geometry
      properties:
        format_in:
          type: string
          description: Input geometry format
          enum:
            - polyline
            - polyline5
            - polyline6
            - encodedpolyline
            - geojson
          default: geojson
        format_out:
          type: string
          description: Output format
          enum:
            - polyline
            - polyline5
            - polyline6
            - encodedpolyline
            - geojson
          default: geojson
        dataset:
          type: string
          enum:
            - srtm
          default: srtm
        geometry:
          description: Line geometry as GeoJSON LineString or encoded polyline
          oneOf:
            - type: object
              description: GeoJSON LineString
            - type: string
              description: Encoded polyline string
    ElevationResponse:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
        properties:
          type: object
          properties:
            dataset:
              type: string
    OptimizationRequest:
      type: object
      required:
        - vehicles
        - jobs
      properties:
        vehicles:
          type: array
          description: Fleet of vehicles to optimize routes for (max 3 in standard plan)
          items:
            $ref: '#/components/schemas/OptimizationVehicle'
        jobs:
          type: array
          description: List of jobs/deliveries to be performed (max 50 in standard plan)
          items:
            $ref: '#/components/schemas/OptimizationJob'
        shipments:
          type: array
          description: Shipments requiring pickup and delivery pairs
          items:
            $ref: '#/components/schemas/OptimizationShipment'
        matrices:
          type: object
          description: Pre-computed duration/distance matrices
        options:
          type: object
          description: Additional optimization options
          properties:
            g:
              type: boolean
              description: Return geometry for routes
    OptimizationVehicle:
      type: object
      required:
        - id
        - profile
        - start
      properties:
        id:
          type: integer
          description: Unique vehicle identifier
        profile:
          type: string
          description: Routing profile for this vehicle
          enum:
            - driving-car
            - driving-hgv
            - cycling-regular
            - cycling-road
            - foot-walking
        start:
          type: array
          description: Start location [longitude, latitude]
          items:
            type: number
          minItems: 2
          maxItems: 2
        end:
          type: array
          description: End location [longitude, latitude] (optional)
          items:
            type: number
          minItems: 2
          maxItems: 2
        capacity:
          type: array
          description: Vehicle capacity for multiple resource types
          items:
            type: integer
        skills:
          type: array
          description: Skills this vehicle has (must match job skill requirements)
          items:
            type: integer
        time_window:
          type: array
          description: Operational time window [start_time, end_time] in seconds from epoch
          items:
            type: integer
          minItems: 2
          maxItems: 2
        breaks:
          type: array
          description: Scheduled breaks for this vehicle
          items:
            type: object
    OptimizationJob:
      type: object
      required:
        - id
        - location
      properties:
        id:
          type: integer
          description: Unique job identifier
        description:
          type: string
        location:
          type: array
          description: Job location [longitude, latitude]
          items:
            type: number
          minItems: 2
          maxItems: 2
        service:
          type: integer
          description: Service time at this location in seconds
          default: 0
        amount:
          type: array
          description: Resource amounts required for multiple capacity types
          items:
            type: integer
        skills:
          type: array
          description: Required vehicle skills for this job
          items:
            type: integer
        time_windows:
          type: array
          description: Allowed time windows for the job
          items:
            type: array
            items:
              type: integer
            minItems: 2
            maxItems: 2
        priority:
          type: integer
          description: Job priority (higher values = higher priority)
    OptimizationShipment:
      type: object
      properties:
        pickup:
          $ref: '#/components/schemas/OptimizationJob'
        delivery:
          $ref: '#/components/schemas/OptimizationJob'
    OptimizationResponse:
      type: object
      properties:
        code:
          type: integer
        summary:
          type: object
          properties:
            cost:
              type: integer
            routes:
              type: integer
            unassigned:
              type: integer
            delivery:
              type: array
              items:
                type: integer
            pickup:
              type: array
              items:
                type: integer
            duration:
              type: number
            distance:
              type: integer
            computing_times:
              type: object
        routes:
          type: array
          items:
            type: object
            properties:
              vehicle:
                type: integer
              cost:
                type: integer
              steps:
                type: array
                items:
                  type: object
              duration:
                type: number
              distance:
                type: integer
              geometry:
                type: string
        unassigned:
          type: array
          items:
            type: object
    POIRequest:
      type: object
      required:
        - request
        - geometry
      properties:
        request:
          type: string
          description: Type of POI request
          enum:
            - pois
            - list
            - stats
        geometry:
          type: object
          description: Search area geometry
          properties:
            bbox:
              type: array
              description: Bounding box [[minLon, minLat], [maxLon, maxLat]]
              items:
                type: array
                items:
                  type: number
              minItems: 2
              maxItems: 2
            geojson:
              type: object
              description: GeoJSON geometry to search within
            buffer:
              type: number
              description: Buffer distance around geometry in meters
              format: double
        filters:
          type: object
          description: Filters for POI categories and keywords
          properties:
            category_group_ids:
              type: object
              description: Category group IDs to filter by
              additionalProperties:
                type: array
                items:
                  type: integer
            category_ids:
              type: object
              description: Specific category IDs to filter by
              additionalProperties:
                type: array
                items:
                  type: integer
            name:
              type: array
              description: POI name keywords to filter by
              items:
                type: string
            wheelchair:
              type: string
              description: Wheelchair accessibility filter
              enum:
                - yes
                - no
                - limited
                - designated
            smoking:
              type: string
              description: Smoking policy filter
            fee:
              type: string
              description: Fee requirement filter
              enum:
                - yes
                - no
        limit:
          type: integer
          description: Maximum number of POIs to return (max 200)
          maximum: 200
          default: 200
        sortby:
          type: string
          description: Sort POI results by this attribute
          enum:
            - category
            - distance
    POIResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - FeatureCollection
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - Feature
              geometry:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - Point
                  coordinates:
                    type: array
                    items:
                      type: number
              properties:
                type: object
                properties:
                  osm_id:
                    type: integer
                  osm_type:
                    type: integer
                  distance:
                    type: number
                  category_ids:
                    type: object
                  category_group_ids:
                    type: object
        information:
          type: object
          properties:
            attribution:
              type: string
            version:
              type: string
            timestamp:
              type: string
              format: date-time
    SnappingRequest:
      type: object
      required:
        - locations
      properties:
        locations:
          type: array
          description: >-
            Array of coordinates as [longitude, latitude] pairs to snap to the road network.
            Maximum 5,000 locations per request.
          maxItems: 5000
          items:
            type: array
            items:
              type: number
              format: double
            minItems: 2
            maxItems: 2
          example:
            - [8.681495, 49.41461]
            - [8.686507, 49.41943]
        maximum_search_radius:
          type: number
          description: Maximum search radius in meters to find a road network node
          format: double
          default: 350
        return_metadata:
          type: boolean
          description: Include metadata about snapping results
          default: false
        id:
          type: string
          description: Arbitrary identifier for tracking requests
    SnappingResponse:
      type: object
      properties:
        locations:
          type: array
          description: Snapped locations with road network coordinates
          items:
            type: object
            properties:
              location:
                type: array
                items:
                  type: number
                description: Snapped coordinate [longitude, latitude]
              name:
                type: string
                description: Road name at snapped location
              snapped_distance:
                type: number
                format: double
                description: Distance from original to snapped location in meters
        metadata:
          type: object
          properties:
            attribution:
              type: string
            service:
              type: string
            timestamp:
              type: integer
              format: int64
            engine:
              $ref: '#/components/schemas/EngineInfo'
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          description: Health status
          enum:
            - ready
            - not ready
    StatusResponse:
      type: object
      properties:
        attribution:
          type: string
        engine:
          $ref: '#/components/schemas/EngineInfo'
        profiles:
          type: object
          description: Map of loaded routing profiles and their configuration
          additionalProperties:
            type: object
            properties:
              storages:
                type: object
              limits:
                type: object
              encoder_name:
                type: string
        services:
          type: array
          description: List of available services
          items:
            type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: Error code
            message:
              type: string
              description: Human-readable error message
        info:
          type: object
          properties:
            engine:
              $ref: '#/components/schemas/EngineInfo'
            attribution:
              type: string
            timestamp:
              type: integer
              format: int64
